.main {
  width: set-col-width(2);
  margin: 0 auto;
  padding: 3em 0;
  @include screen-max-width(830) {
    width: set-col-width(1.2);
  }
  &__align {
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 1;
    &__name {
      p {
        font-weight: 600;
        font-size: 1.5em;
      }
    }
    &__typing {
      overflow: hidden;
      height: 2.12em;
      p {
        @include animation(slide, 12s, steps(3), null, infinite, null, null);
        bottom: 0;
        position: relative;
        span {
          font-size: 1.4em;
          font-weight: 500;
          user-select: none;
          position: relative;
          &::after {
            content: "";
            position: absolute;
            background: set-color(gray-5);
            width: 1ch;
            bottom: 0;
            left: 0;
            height: 0.1em;
            border-radius: 0.1em;
          }
          &::before {
            content: "";
            position: absolute;
            background: set-color(white);
            width: 100%;
            height: 100%;
          }
        }
        &:first-child {
          span {
            &::after {
              @include animation(typingFirst,4s,steps(19),null,infinite,null,null);
            }
            &::before {
              @include animation(typingFirst,4s,steps(19),null,infinite,null,null);
            }
          }
        }
        &:nth-child(2){
          span {
            &::after {
              @include animation(typingCenter,4s,steps(16),null,infinite,null,null);
            }
            &::before {
              @include animation(typingCenter,4s,steps(16),null,infinite,null,null);
            }
          }
        }
        &:last-child{
          span {
            &::after {
              @include animation(typingLast,4s,steps(16),null,infinite,null,null);
            }
            &::before {
              @include animation(typingLast,4s,steps(16),null,infinite,null,null);
            }
          }
        }
      }
    }
    &__detail p {
      font-size: 1.3em;
      font-weight: 400;
    }
  }
}

@include keyframe(typingFirst){
  from{
    left: 0;
  }
  to{
    left: 11em;
  }
}
@include keyframe(typingCenter){
  from{
    left: 0;
  }
  to{
    left: 10em;
  }
}
@include keyframe(typingLast){
  from{
    left: 0;
  }
  to{
    left: 9.5em;
  }
}
@include keyframe(slide) {
  to {
    bottom: 7em;
  }
}