@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  outline: none;
  border: none;
  font-family: "Poppins", sans-serif;
}

.nav {
  width: 100%;
  height: auto;
  background-color: #ced4da;
  padding: 1em;
}
.nav__bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__bar__burger {
  display: none;
  background: transparent;
  cursor: pointer;
}
@media only screen and (max-width: 700px) {
  .nav__bar__burger {
    display: block;
    width: 2.5em;
  }
  .nav__bar__burger div {
    height: 0.4em;
    width: 100%;
    border-radius: 0.1em;
    background-color: #212529;
    margin: 0.4em 0;
  }
  .nav__bar__burger:hover div {
    background-color: #6c757d;
  }
  .nav__bar__burger--toggle div:nth-child(even) {
    display: none;
  }
  .nav__bar__burger--toggle div:first-child {
    transform: rotate(45deg);
    transform-origin: 30% bottom;
  }
  .nav__bar__burger--toggle div:last-child {
    transform: rotate(-45deg);
    transform-origin: 30% top;
  }
}
.nav__bar a img {
  width: 6em;
}
.nav__bar__list__items {
  display: flex;
}
.nav__bar__list__items__item {
  margin: 0.3em;
}
.nav__bar__list__items__item__link {
  padding: 0.5em;
  color: #212529;
  border-radius: 0.4em;
  transition: all 1s ease;
}
.nav__bar__list__items__item:hover .nav__bar__list__items__item__link, .nav__bar__list__items__item--active {
  background-color: #e9ecef;
  color: #495057;
}
@media only screen and (max-width: 700px) {
  .nav__bar__list {
    display: none;
  }
}
.nav__bar__list--toggle {
  padding: 0.5em 0;
  z-index: 2;
  display: block;
  position: absolute;
  width: 100%;
  top: 5.4em;
  left: 0;
  right: 0;
  background: #adb5bd;
}
.nav__bar__list--toggle ul {
  flex-direction: column;
  align-items: center;
}
.nav__bar__list--toggle ul li {
  margin: 0.8em 0;
}

.wrapper {
  padding: 1em;
}
.wrapper__content {
  display: flex;
  align-items: center;
}
@media only screen and (max-width: 830px) {
  .wrapper__content {
    flex-direction: column;
  }
}
.wrapper__content__success {
  width: 50%;
}
.wrapper__content__success p {
  font-size: 2.2em;
  font-weight: 200;
  line-height: 1.2;
}
@media only screen and (max-width: 830px) {
  .wrapper__content__success {
    width: 100%;
    text-align: center;
    padding: 1em 0;
  }
}
.wrapper__content__list {
  width: 50%;
}
.wrapper__content__list__items {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.wrapper__content__list__items__item {
  margin: 0.8em 0;
}
.wrapper__content__list__items__item__link {
  color: black;
  padding: 0.5em;
  border-radius: 0.4em;
  transition: all 1s ease;
}
.wrapper__content__list__items__item:hover .wrapper__content__list__items__item__link, .wrapper__content__list__items__item--active {
  background-color: #e9ecef;
}
@media only screen and (max-width: 830px) {
  .wrapper__content__list {
    width: 100%;
    padding: 1em 0;
  }
  .wrapper__content__list__items {
    align-items: center;
  }
}
.wrapper__icon {
  display: grid;
  grid-gap: 1em;
  grid-template: auto/1fr 1fr 1fr;
}
@media only screen and (max-width: 645px) {
  .wrapper__icon {
    grid-template: auto/1fr 1fr;
  }
}
@media only screen and (max-width: 435px) {
  .wrapper__icon {
    grid-template: auto/1fr;
  }
}
.wrapper__icon--envelope, .wrapper__icon--map, .wrapper__icon--phone {
  display: flex;
  padding: 1em;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #ced4da;
}
.wrapper__icon--envelope svg, .wrapper__icon--map svg, .wrapper__icon--phone svg {
  width: 2.2em;
  transition: all 0.5s ease;
  aspect-ratio: 1/1;
  fill: #ced4da;
  margin-bottom: 0.8em;
}
.wrapper__icon--envelope:hover div, .wrapper__icon--envelope:hover svg, .wrapper__icon--map:hover div, .wrapper__icon--map:hover svg, .wrapper__icon--phone:hover div, .wrapper__icon--phone:hover svg {
  fill: black;
  color: black;
}
@media only screen and (max-width: 645px) {
  .wrapper__icon--phone {
    grid-area: 2/1/-1/-1;
  }
}
.wrapper__social-icon-copy {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.wrapper__social-icon-copy__icon {
  display: flex;
  align-items: center;
}
.wrapper__social-icon-copy__icon li {
  margin: 0.5em;
  cursor: pointer;
}
.wrapper__social-icon-copy__icon li svg {
  transition: all 0.5s ease;
  width: 2.2em;
  aspect-ratio: 1/1;
  fill: #ced4da;
}
.wrapper__social-icon-copy__icon li:hover svg {
  fill: black;
}
@media only screen and (max-width: 372px) {
  .wrapper__social-icon-copy__copy p {
    font-size: 0.8em;
  }
}
.wrapper__social-icon-copy__copy p a {
  transition: all 1s ease;
  color: black;
}
.wrapper__social-icon-copy__copy p a:hover {
  color: #6c757d;
  text-decoration: underline double #6c757d;
}

.main {
  width: 50%;
  margin: 0 auto;
  padding: 3em 0;
}
@media only screen and (max-width: 830px) {
  .main {
    width: 83.3333333333%;
  }
}
.main__align {
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 1;
}
.main__align__name p {
  font-weight: 600;
  font-size: 1.5em;
}
.main__align__typing {
  overflow: hidden;
  height: 2.12em;
}
.main__align__typing p {
  animation: slide 12s steps(3) infinite;
  bottom: 0;
  position: relative;
}
.main__align__typing p span {
  font-size: 1.4em;
  font-weight: 500;
  user-select: none;
  position: relative;
}
.main__align__typing p span::after {
  content: "";
  position: absolute;
  background: #adb5bd;
  width: 1ch;
  bottom: 0;
  left: 0;
  height: 0.1em;
  border-radius: 0.1em;
}
.main__align__typing p span::before {
  content: "";
  position: absolute;
  background: white;
  width: 100%;
  height: 100%;
}
.main__align__typing p:first-child span::after {
  animation: typingFirst 4s steps(19) infinite;
}
.main__align__typing p:first-child span::before {
  animation: typingFirst 4s steps(19) infinite;
}
.main__align__typing p:nth-child(2) span::after {
  animation: typingCenter 4s steps(16) infinite;
}
.main__align__typing p:nth-child(2) span::before {
  animation: typingCenter 4s steps(16) infinite;
}
.main__align__typing p:last-child span::after {
  animation: typingLast 4s steps(16) infinite;
}
.main__align__typing p:last-child span::before {
  animation: typingLast 4s steps(16) infinite;
}
.main__align__detail p {
  font-size: 1.3em;
  font-weight: 400;
}

@keyframes typingFirst {
  from {
    left: 0;
  }
  to {
    left: 11em;
  }
}
@keyframes typingCenter {
  from {
    left: 0;
  }
  to {
    left: 10em;
  }
}
@keyframes typingLast {
  from {
    left: 0;
  }
  to {
    left: 9.5em;
  }
}
@keyframes slide {
  to {
    bottom: 7em;
  }
}
.about {
  background-color: #579191;
  width: 100%;
  height: 200px;
}
